<br />

<h1>EAT-DA-BURGER</h1>
<br />

{{!-- <ul>
    {{#each cats}}
    {{#unless sleepy}}
    {{> cats/cat-block sleep=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
    {{#each cats}}
    {{#if sleepy}}
    {{> cats/cat-block sleep=false}}
    {{/if}}
    {{/each}}
</ul> --}}


<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}
        <form action="/update" method="PUT" id="update-form">
            {{!-- <form action="/update?_method=UPDATE" method="POST"></form> --}}
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">DEVOUR</button>
        </form>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}
        {{!-- <form action="/update?_method=UPDATE" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">DEVOUR</button>
        </form> --}}
    </li>
    {{/if}}
    {{/each}}
</ul>
<form method="POST" action="/create">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">MAKE-DA-BURGER</button>
</form>
<h3>Enter a burger you want to eat. Click 'Submit' button.</h3>





<script>
    $(function () {
        $("#update-form").on("submit", function (event) {
            event.preventDefault();

            var newBurger = {
                id: parseInt(this.id.defaultValue)
            };
            console.log("button pushed")
            // Send the POST request.
            $.ajax("/update", {
                type: "PUT",
                data: newBurger

            }).then(
                function () {
                    $(document).ajaxStop(function () {
                        window.location.reload();
                    });
                    console.log("created new burger");
                    // Reload the page to get the updated list
                    //location.reload(forceGet);
                }
            );
        });
    });
</script>