<br />

<h1>EAT-DA-BURGER</h1>
<br />
<form class="burger-form">
    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Submit</button>
</form>
<h3>Enter a burger you want to eat. Click 'Submit' button.</h3>
<ul>
    {{#each burgers}}
    <li>{{burger_name}}</li>
    <li>{{devoured}}</li>
    {{/each}}
</ul>